= render "devise/shared/side_bar"

.chat-main
  .chat-main__header
    .chat-main__header--group
      .chat-main__header--group-name
        = @group.name
      = link_to "edit", edit_group_path(params[:group_id]), class: 'chat-main__header--group-edit-btn'
    .chat-main__header--members
      Members:
      %i
        - @group.users.each do |user|
          = user.name
  .chat-main__body
    = render @messages
  .chat-main__footer
    .form.chat-main__footer-form
      = form_for [@group, @message], html: {id: 'new-message'} do |f|
        .chat-main__footer-body
          = f.text_field :content, class: 'message', placeholder: 'type a message'
          .chat-file
            = f.label :image do
              = fa_icon 'picture-o',class: 'fa2'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'submit'



